.allergen:hover {
    background-color: red;
}
.allergen-clicked {
    background-color: aqua;
}

.restaurant {
    background-color: blanchedalmond;
    border-color: burlywood;
    display: block;
    padding: 25px;
    border-radius: 50px;
}
.restaurant-name {
    margin: 10px;
    cursor: pointer;
}
#options {
    text-align: center;
}
.oval {
    background-color: bisque;
    border-radius: 10%px;
}
.allergies {
    display: inline-block;

}
input[type=checkbox] {
    display: none;
}
:checked + label {
    font-weight: bold;
    background-color: #2fc4d4;
    color: white;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.allergies {
    display: none;
}
.row {
    padding-top: 20px;
}
#website-name {
    padding: 10px;
    background-color: #a7a7b5;

}
#title {
    font-size: 500%;
}
#show-options {
    margin-top: 10px;
}
.centerText {
    text-align: center;
}
.badge {
    margin-left: 10px;
}
.badge-danger:hover {
    background-color: #b30000;
}
.result-format {
    margin-left: 20%;
}
.name-format{
    margin-left: 5%;
    margin-right 5%;
}